body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;
    
}
.container-fluid{
    padding:3% 15%;

}
.h1{
    color: lightwhite;
    padding-bottom: 2rem;

}
.navbar{
    font-family: 'Ubuntu';;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
/* buttons downloads */
.btn-download{
    margin:4% 0 4% 0;
}
/* tittle img */
.tittle-img{
    width:50%;
    transform: rotate(25deg);
    
    position: absolute;
}
 /* feature-box */
 #features{
     padding:10% 15%;
     background-color: #ffff;
     z-index: 1;
     position: relative;

 }
 .feature-box{
     align-items: center;
 }
 h3{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: bolder;

 }
 h2{
     font-family:'Montserrat' ;
     font-size: 3.5rem;
     line-height: 1.5;
     font-weight: bold;
 }
 p{
     color: #8f8f8f;
 }
 .icon{
     color: #ef8172;
     margin-bottom: 0.5rem;
 }
 .icon:hover{
    color:#ff4c68;
}
/* testimonials section  */
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}
.testimonial-image{
    border-radius: 10rem;
    width:10%;
    margin: 0.5rem 0.5rem;
}
#press{
    background-color: #ef8172;
    text-align: center ;
    padding-bottom: 3%;

}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;

}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding:100px;
    text-align: center;

}
.pricing-coloum{
    padding:3% 2%;
}
    /* CTA Section */
    #cta{
        background-color: #ff4c68;
        color:#fff;
        padding:7% 15%;
        align-items: center;

    }
.cta-h3{
    font-family:'Montserrat-black';
    font-size: 3.5rem;;
    line-height: 1.5;

}
/* footer */
#footer{
    width:100%;
    margin: auto;
    padding:7% 15%;
    align-items: center;
}
.social-icon {
    margin: 20px 10px ;
    align-items: center;
}
@media (max-width:1028px){
    .tittle-img{
        position:static;
        transform:rotate(0);
        align-items: center;
    }
}